* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3436;
}
.loader {
  width: 48px;
  height: 48px;
  position: relative;
  /* background-color: chocolate; */
  animation: rotation 0.7s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: chartreuse;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: animloader 0.7s ease-in-out infinite;
}
.loader::after {
  background-color: #fff;
  transform: scale(0.5) translate(0%, 0%);
}
.loader::before {
  background-color: #ff3d00;
  transform: scale(0.5) translate(-200%, -200%);
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
